.sala__fila{
    display: flex;
}
 
.sala__butaca{
    content:url("~/assets/img/seientRoig.png");
    width: 8vw;
    height: 8vw;
    min-height: 13px;
    min-width: 13px;
    max-height: 120px;
    max-width: 120px
}

.sala__butaca_vip{
    content:url("~/assets/img/seientVip.png");
}